<div>
<h4>Click on a question to see its answers:</h4>
  <ul>
    <% @questions.each do |question| %>
      <% user = User.find(question.user_id) %>
      <li><%= link_to question.description, question_path(question) %>  |  Posted By: <%= user.name %></li>
    <% end %>
  </ul>
</div>


<div>
  <%= form_tag(questions_path, :method => 'get', id: "search-form") do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "search" %>
  <% end %>
</div>
