<h3><%= @question.description %></h3>
<h4>All Answers:</h4>
<div class="answers margin-top">
  <%= render @answers %>
</div>

<div class ='margin-top'>
  <%= link_to "Add an Answer", new_question_answer_path(@question), class: 'btn btn-primary', id: 'new_link', remote: true %>
</div>

<div class='margin-top'>
  <%= form_for @question do |f| %>
  <div class='form-group field-height'>
    <%= f.label :Pick_favorite_question %>
    <%= f.collection_select :favorite_answer_id, Answer.all, :id, :description, :class => 'form-select field-height' %>
    <%= f.submit(:class => 'btn btn-primary') %>
  </div>
  <% end %>
</div>
