<ul>
    <% if @question.favorite_answer_id == answer.id %>
      <li id="answer_<%=answer.id %>"><%= image_tag("favorite.png", :class=>"list-image") %> <%= answer.description %></li>
    <% else %>
      <li id="answer_<%= answer.id %>"><%= answer.description %></li>
    <% end %>
</ul>
